<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema
instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>ejemploMVC</display-name>
	<description>Aplicación de StartUP</description>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>cl.praxis.controllers.LoginController</servlet-class>
		<servlet-name>UserController</servlet-name>
		<servlet-class>cl.praxis.controllers.UserController</servlet-class>
		<servlet-name>RegistroController</servlet-name>
		<servlet-class>cl.praxis.controllers.RegistroController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>RegistroController</servlet-name>
		<url-pattern>/registro</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserController</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<error-page>
	<error-code>404</error-code>
	<location>/error.jsp</location>
	</error-page>
</web-app>